.item {
  position: relative;

  width: 320px;
  padding: 4px;
}

.item__background {
  position: absolute;
  top: 0;
  left: 0;

  fill: white;
  stroke-width: 4;
}

.default .item__background {
  stroke: #1698d9;
}

.default:hover .item__background {
  stroke: #2ea8e6;
}

.selected .item__background {
  stroke: #d91667;
}

.selected:hover .item__background {
  stroke: #e62e7a;
}

.disabled .item__background {
  stroke: #b3b3b3;
}

.item__container {
  position: relative;
  z-index: 5;

  margin-bottom: 16px;
}

.item__link {
  color: #1698d9;
  text-decoration: none;

  border-bottom: 1px dashed #1698d9;
}

.container-default,
.container-selected {
  cursor: pointer;
}

.default .item__weight {
  background-color: #1698d9;
}

.default:hover .item__weight {
  background-color: #2ea8e6;
}

.selected .item__weight {
  background-color: #d91667;
}

.selected:hover .item__weight {
  background-color: #e62e7a;
}

.disabled .item__weight {
  background-color: #b3b3b3;
}

.item__bottom-comment {
  margin: 0;

  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.1px;
}

.default .item__bottom-comment {
  color: #ffffff;
}

.selected .item__bottom-comment {
  color: #ffffff;
}

.disabled .item__bottom-comment {
  color: #ffff66;
}

.disabled .item__container,
.disabled .item__img {
  color: #b3b3b3;

  opacity: 0.5;
}

.item__info {
  display: flex;
  flex-direction: column;
  padding: 18px 54px 20px 43px;
}

.item__text {
  margin: 0;
  margin-bottom: 18px;

  line-height: 18px;
  color: #666666;
  letter-spacing: 1px;
}

.item__text--selected {
  margin: 0;
  margin-bottom: 18px;

  line-height: 18px;
  color: #e62e7a;
}

.item__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 64px;
  margin: 0;
  margin-bottom: 21px;
}

.item__title-name {
  font-weight: bold;
  font-size: 48px;
  line-height: 32px;
}

.item__taste {
  font-weight: bold;
  font-size: 24px;
}

.item__portions,
.item__present,
.item__info {
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.item__complement {
  display: block;
  min-height: 16px;
}

.item__img {
  border-radius: 10px;
}

.item__weight {
  position: absolute;
  top: 380px;
  right: 11px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 82px;
  height: 82px;
  padding: 20px 0 10px;

  font-size: 42px;
  line-height: 22px;
  color: #ffffff;

  border-radius: 50%;
}

.item__kg {
  font-size: 21px;
  line-height: 22px;
}

@media (min-width: 340px) {
  .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 740px) {
  .item:not(:last-child) {
    margin-bottom: 80px;
  }

  .item:last-child {
    margin: 0;
  }
}

@media (min-width: 1140px) {
  .item:not(:last-child) {
    margin: 0;
  }

  .item:not(:last-child) {
    margin-right: 80px;
  }
}
