@font-face {
  font-weight: 100;
  font-family: "Exo2.0-Thin";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/Exo2.0-Thin.woff2") format("woff2"),
  url("../fonts/Exo2.0-Thin.woff") format("woff");
}

.main {
  width: 100%;
  min-height: 100vh;

  background-image: url("../img/background@1x.jpg");
  background-repeat: repeat;
}

.catalog__title {
  margin: 0;
  margin-bottom: 28px;

  font-weight: 100;
  font-size: 36px;
  font-family: "Exo2.0-Thin", Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 340px) {
  .container {
    width: 340px;
    padding: 10px;
  }
}

@media (min-width: 740px) {
  .container {
    width: 800px;
    padding: 10px;
  }
}

@media (min-width: 1140px) {
  .container {
    width: 1140px;
    padding: 10px;
  }
}
